server/src/node_red_flows.json
[{"id":"4f0e58ca.763ad8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2f6076bd.bc188a","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"2f7cec68.3ae114","type":"tab","label":"Flow 3","disabled":true,"info":""},{"id":"e3760c31.ed6b8","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"ee47c5e8.e17bd","type":"tab","label":"Example of ui-list","disabled":true,"info":""},{"id":"f62d48c0.a38a98","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7fadfc74.1b4dc4","type":"ui_group","name":"Configure input event","tab":"28e92d53.ca3362","order":1,"disp":true,"width":"12","collapse":false},{"id":"9d464926.d018b8","type":"ui_group","name":"Configure output action","tab":"28e92d53.ca3362","order":2,"disp":true,"width":"12","collapse":false},{"id":"4486bb98.ac2cf4","type":"ui_group","name":"Log MQTT communication","tab":"5fcea110.07037","order":3,"disp":true,"width":"10","collapse":false},{"id":"a7d4fc80.77e1c","type":"ui_group","name":"form_banc_1","tab":"7f183096.ee52e","order":1,"disp":true,"width":"6","collapse":false},{"id":"64b17dc.4d77484","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#127709","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#127709","edited":true},"page-titlebar-backgroundColor":{"value":"#127709","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#1dbe0e","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#127709","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"test_dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5fcea110.07037","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"93b5a0ba.5afbf","type":"ui_group","name":"Rules manager","tab":"5fcea110.07037","order":3,"disp":true,"width":"6","collapse":false},{"id":"28e92d53.ca3362","type":"ui_tab","name":"Define Rule","icon":"dashboard","disabled":false,"hidden":false},{"id":"bfecdcd.8e50f2","type":"ui_group","name":"validate rule","tab":"28e92d53.ca3362","order":3,"disp":true,"width":"6","collapse":false},{"id":"7e4c65d6.0419cc","type":"ui_group","name":"Default","tab":"2f52ec48.3a82cc","order":1,"disp":true,"width":"12","collapse":false},{"id":"2f52ec48.3a82cc","type":"ui_tab","name":"List","icon":"dashboard"},{"id":"84683eb1.d881d","type":"ui_button","z":"2f6076bd.bc188a","name":"","group":"93b5a0ba.5afbf","order":0,"width":0,"height":0,"passthru":false,"label":"add rule","tooltip":"","color":"","bgcolor":"","icon":"add","payload":"Define Rule","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":540,"wires":[["83be9aa0.82d8b8","cfc943e1.611e7"]]},{"id":"83be9aa0.82d8b8","type":"ui_ui_control","z":"2f6076bd.bc188a","name":"Define Rule","events":"all","x":370,"y":540,"wires":[[]]},{"id":"f62ab4c5.034788","type":"ui_text","z":"2f6076bd.bc188a","group":"7fadfc74.1b4dc4","order":5,"width":0,"height":0,"name":"","label":"Select threshold intensity","format":"{{msg.payload}}","layout":"col-center","x":210,"y":840,"wires":[]},{"id":"7304942f.28c77c","type":"ui_text","z":"2f6076bd.bc188a","group":"7fadfc74.1b4dc4","order":1,"width":0,"height":0,"name":"","label":"Select available input device","format":"{{msg.payload}}","layout":"col-center","x":200,"y":620,"wires":[]},{"id":"f02dbcb0.bd53c","type":"ui_slider","z":"2f6076bd.bc188a","name":"","label":"input intensity threshold","tooltip":"","group":"7fadfc74.1b4dc4","order":7,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"255","step":1,"x":210,"y":880,"wires":[["1e5bf606.3fe69a","a01f2b0f.a310a8"]]},{"id":"3605713e.85ce6e","type":"ui_text","z":"2f6076bd.bc188a","group":"7fadfc74.1b4dc4","order":3,"width":0,"height":0,"name":"","label":"Select Input generator","format":"{{msg.payload}}","layout":"col-center","x":200,"y":740,"wires":[]},{"id":"b3d89272.b8b39","type":"ui_dropdown","z":"2f6076bd.bc188a","name":"select input generator","label":"Input generator selector","tooltip":"","place":"Select option","group":"7fadfc74.1b4dc4","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"SWITCH_MCU","value":"0","type":"str"},{"label":"SWITCH_MICRO_1","value":"1","type":"str"},{"label":"SWITCH_MICRO_2","value":"2","type":"str"},{"label":"POTENTIOMETER","value":"3","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":200,"y":780,"wires":[["ccc88c49.79dcf"]]},{"id":"cfc943e1.611e7","type":"function","z":"2f6076bd.bc188a","name":"available devices","func":"list_devices=global.get('list_devices');\nvar i;\nvar id_tab=[];\nfor(i=0;i<list_devices.length;++i){\n    id_tab.push(list_devices[i].payload);\n}\n\nmsg.options=id_tab;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":170,"y":680,"wires":[["54570c95.a34424","cbe13601.0749e8","18971fa7.cff32"]]},{"id":"54570c95.a34424","type":"ui_dropdown","z":"2f6076bd.bc188a","name":"available devices","label":"","tooltip":"","place":"Select option","group":"7fadfc74.1b4dc4","order":2,"width":0,"height":0,"passthru":false,"multiple":false,"options":[],"payload":"","topic":"topic","topicType":"msg","x":510,"y":620,"wires":[["2149d15a.14253e"]]},{"id":"f19e7728.639e58","type":"ui_text","z":"2f6076bd.bc188a","group":"7fadfc74.1b4dc4","order":8,"width":0,"height":0,"name":"","label":"Select duration threshold of the input","format":"{{msg.payload}}","layout":"col-center","x":250,"y":1000,"wires":[]},{"id":"4410794.0937488","type":"ui_slider","z":"2f6076bd.bc188a","name":"","label":"duration threshold ","tooltip":"","group":"7fadfc74.1b4dc4","order":10,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"65535","step":1,"x":190,"y":1040,"wires":[["c9173821.f551c8","1e3e5f40.b11be1"]]},{"id":"17b5085.fd9b1f8","type":"ui_text","z":"2f6076bd.bc188a","group":"7fadfc74.1b4dc4","order":11,"width":0,"height":0,"name":"","label":"action on release or press","format":"{{msg.payload}}","layout":"col-center","x":210,"y":1180,"wires":[]},{"id":"e0e617fa.37b188","type":"ui_dropdown","z":"2f6076bd.bc188a","name":"press or release switch 1","label":"Input generator selector","tooltip":"","place":"Select option","group":"7fadfc74.1b4dc4","order":12,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"PRESS","value":"0","type":"str"},{"label":"RELEASE","value":"1","type":"str"},{"label":"POTENTIOMETER_UPDATE","value":"2","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":210,"y":1220,"wires":[["c0832f6e.4104c"]]},{"id":"7ceec087.1de2a","type":"ui_text","z":"2f6076bd.bc188a","group":"9d464926.d018b8","order":5,"width":0,"height":0,"name":"","label":"Select output intensity","format":"{{msg.payload}}","layout":"col-center","x":900,"y":840,"wires":[]},{"id":"8dd22602.67e508","type":"ui_text","z":"2f6076bd.bc188a","group":"9d464926.d018b8","order":1,"width":0,"height":0,"name":"","label":"Select available output device","format":"{{msg.payload}}","layout":"col-center","x":930,"y":620,"wires":[]},{"id":"53562745.821cc8","type":"ui_slider","z":"2f6076bd.bc188a","name":"","label":"output intensity","tooltip":"","group":"9d464926.d018b8","order":7,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"255","step":1,"x":880,"y":880,"wires":[["bcb3139e.6a9e8","12e0ed03.076173"]]},{"id":"aa9d0ce8.8828e","type":"ui_text","z":"2f6076bd.bc188a","group":"9d464926.d018b8","order":3,"width":0,"height":0,"name":"","label":"Select Output action","format":"{{msg.payload}}","layout":"col-center","x":900,"y":740,"wires":[]},{"id":"396df582.13d7ca","type":"ui_dropdown","z":"2f6076bd.bc188a","name":"select input generator","label":"output action","tooltip":"","place":"Select option","group":"9d464926.d018b8","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"LED_D1 ","value":"0","type":"str"},{"label":"LED_D2 ","value":"1","type":"str"},{"label":"LED_D3 ","value":"2","type":"str"},{"label":"OUTPUT_LED_D3_GREEN ","value":"3","type":"str"},{"label":"LED_D3_RED ","value":"4","type":"str"},{"label":"LED_D3_BLUE ","value":"5 ","type":"str"},{"label":"LED_D3_PURPLE ","value":"6 ","type":"str"},{"label":"BUZZER ","value":"7","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":900,"y":780,"wires":[["608db4af.540ccc"]]},{"id":"28c330ee.6ac4","type":"ui_text","z":"2f6076bd.bc188a","group":"9d464926.d018b8","order":8,"width":0,"height":0,"name":"","label":"Select output duration","format":"{{msg.payload}}","layout":"col-center","x":900,"y":980,"wires":[]},{"id":"cad7750b.1bc028","type":"ui_slider","z":"2f6076bd.bc188a","name":"","label":"output duration","tooltip":"","group":"9d464926.d018b8","order":10,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"65535","step":1,"x":880,"y":1020,"wires":[["df6b005b.7339","c51ed60c.cb03c8"]]},{"id":"19165c8.0910ca4","type":"ui_text","z":"2f6076bd.bc188a","group":"9d464926.d018b8","order":11,"width":0,"height":0,"name":"","label":"action ON or OFF","format":"{{msg.payload}}","layout":"col-center","x":890,"y":1160,"wires":[]},{"id":"916618b4.af7598","type":"ui_dropdown","z":"2f6076bd.bc188a","name":"output on or off","label":"ON or OFF","tooltip":"","place":"Select option","group":"9d464926.d018b8","order":12,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"ON","value":"0","type":"str"},{"label":"OFF","value":"1","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":880,"y":1200,"wires":[["64d8d397.117a3c"]]},{"id":"18971fa7.cff32","type":"ui_dropdown","z":"2f6076bd.bc188a","name":"available devices","label":"","tooltip":"","place":"Select option","group":"9d464926.d018b8","order":2,"width":0,"height":0,"passthru":false,"multiple":false,"options":[],"payload":"","topic":"topic","topicType":"msg","x":890,"y":680,"wires":[["4b61b31a.5c33ec"]]},{"id":"58fa7800.8cd728","type":"ui_button","z":"2f6076bd.bc188a","name":"","group":"bfecdcd.8e50f2","order":0,"width":0,"height":0,"passthru":false,"label":"validate rule","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Home","payloadType":"str","topic":"topic","topicType":"msg","x":1050,"y":480,"wires":[["2ded002c.b5682","8b718e4.933867","dfa239ab.51d0a8"]]},{"id":"2ded002c.b5682","type":"ui_ui_control","z":"2f6076bd.bc188a","name":"Define Rule","events":"change","x":1250,"y":480,"wires":[[]]},{"id":"8b718e4.933867","type":"function","z":"2f6076bd.bc188a","name":"push new rule","func":"/* definition of an Object */\nvar rule = function(){\n          this.rule_name =flow.get(\"rule_name\");\n          this.rule_description =flow.get(\"rule_description\");\n          this.input_device =flow.get(\"input_device\");\n          this.input_generator =flow.get(\"input_generator\");\n          if(this.input_generator.normalize()===\"POTENTIOMETER\".normalize()){\n              this.input_intensity =flow.get(\"input_intensity\");\n              this.input_duration =\"0\";\n          }\n          else{\n            this.input_intensity =\"0\";\n            this.input_duration =flow.get(\"input_duration\");\n          }\n          \n          this.input_state =flow.get(\"input_state\");\n          \n          this.output_device =flow.get(\"output_device\");\n          this.output_action =flow.get(\"output_action\");\n          this.output_intensity= flow.get(\"output_intensity\");\n          this.output_duration =flow.get(\"output_duration\");\n          this.output_state =flow.get(\"output_state\");\n    return this;\n};\n\nrules_list=global.get('rules_list');\n//push data inside the **xyz_pseudo_array** as and when needed, without having to worry about size-\nrules_list.rule_pseudo_array.push(new rule());\nrules_list.length=rules_list.rule_pseudo_array.length;\nglobal.set('rules_list',rules_list);\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":520,"wires":[[]]},{"id":"45283ceb.7c6c84","type":"ui_text_input","z":"2f6076bd.bc188a","name":"","label":"Rule name","tooltip":"","group":"bfecdcd.8e50f2","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":180,"y":480,"wires":[["e9d0d3b6.0fe0d"]]},{"id":"2149d15a.14253e","type":"function","z":"2f6076bd.bc188a","name":"store input device","func":"flow.set('input_device',msg.payload.toString());\nmsg.value= flow.get('input_device');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":620,"wires":[[]]},{"id":"ccc88c49.79dcf","type":"function","z":"2f6076bd.bc188a","name":"store input generator","func":"flow.set('input_generator',msg.payload.toString());\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":780,"wires":[[]]},{"id":"1e5bf606.3fe69a","type":"function","z":"2f6076bd.bc188a","name":"store input intensity","func":"flow.set('input_intensity',msg.payload.toString());\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":880,"wires":[[]]},{"id":"c9173821.f551c8","type":"function","z":"2f6076bd.bc188a","name":"store input duration","func":"flow.set('input_duration',msg.payload.toString());\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":1040,"wires":[[]]},{"id":"c0832f6e.4104c","type":"function","z":"2f6076bd.bc188a","name":"store input state","func":"flow.set('input_state',msg.payload.toString());\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":1220,"wires":[[]]},{"id":"4b61b31a.5c33ec","type":"function","z":"2f6076bd.bc188a","name":"store output device","func":"flow.set('output_device',msg.payload.toString());\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":680,"wires":[[]]},{"id":"608db4af.540ccc","type":"function","z":"2f6076bd.bc188a","name":"store output action","func":"flow.set('output_action',msg.payload.toString());\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1170,"y":780,"wires":[[]]},{"id":"bcb3139e.6a9e8","type":"function","z":"2f6076bd.bc188a","name":"store output intensity","func":"flow.set('output_intensity',msg.payload.toString());\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":880,"wires":[[]]},{"id":"df6b005b.7339","type":"function","z":"2f6076bd.bc188a","name":"store output duration","func":"flow.set('output_duration',msg.payload.toString());\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":1020,"wires":[[]]},{"id":"64d8d397.117a3c","type":"function","z":"2f6076bd.bc188a","name":"store output state","func":"flow.set('output_state',msg.payload.toString());\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":1200,"wires":[[]]},{"id":"9ae550.744faab","type":"ui_list","z":"2f6076bd.bc188a","group":"93b5a0ba.5afbf","name":"","order":1,"width":0,"height":0,"lineType":"two","actionType":"none","allowHTML":false,"outputs":0,"topic":"","x":1570,"y":600,"wires":[]},{"id":"e9d0d3b6.0fe0d","type":"function","z":"2f6076bd.bc188a","name":"store rule name","func":"flow.set('rule_name',msg.payload.toString());\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":480,"wires":[[]]},{"id":"d00c3d40.92962","type":"ui_text_input","z":"2f6076bd.bc188a","name":"","label":"Rule description","tooltip":"","group":"bfecdcd.8e50f2","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":600,"y":480,"wires":[["66d6d1e3.d31a4"]]},{"id":"66d6d1e3.d31a4","type":"function","z":"2f6076bd.bc188a","name":"store rule name","func":"flow.set('rule_description',msg.payload.toString());\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":480,"wires":[[]]},{"id":"dfa239ab.51d0a8","type":"function","z":"2f6076bd.bc188a","name":"write list","func":"tab=global.get('rules_list');\nindice_last=tab.length-1;\n\nstring_list=\"[\";\nvar i;\nfor (i = 0; i < tab.length; i++) {\n  if (i>0){\n      virgule=\",\";\n        string_list=string_list+\",\";\n  }\n    \n  string_rule=\"{\\\"title\\\":\\\"\";\n  string_list=string_list.concat(string_rule);  \n  string_title=tab.rule_pseudo_array[i].rule_name\n  string_list=string_list.concat(string_title);  \n  string_description=\"\\\",\\\"description\\\":\\\"\"\n  string_list=string_list.concat(string_description);  \n  string_description2=tab.rule_pseudo_array[i].rule_description\n  string_list=string_list.concat(string_description2);  \n  string_end=\"\\\",\\\"icon_name\\\":\\\"compare_arrows\\\"}\";\n  string_list=string_list.concat(string_end);  \n}\n\nstring_list=string_list+\"]\";\n\nmsg.payload=string_list;\nreturn msg\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":600,"wires":[["ca97f354.0dde5","f2776b23.9eda98"]]},{"id":"97d413.4e7c5bf","type":"debug","z":"2f6076bd.bc188a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1540,"y":660,"wires":[]},{"id":"ca97f354.0dde5","type":"json","z":"2f6076bd.bc188a","name":"","property":"payload","action":"","pretty":true,"x":1390,"y":600,"wires":[["9ae550.744faab","97d413.4e7c5bf"]]},{"id":"f2776b23.9eda98","type":"debug","z":"2f6076bd.bc188a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1480,"y":540,"wires":[]},{"id":"b5dfbe72.60427","type":"ui_button","z":"2f6076bd.bc188a","name":"","group":"93b5a0ba.5afbf","order":2,"width":0,"height":0,"passthru":false,"label":"Clear all rules ","tooltip":"","color":"","bgcolor":"","icon":"clear","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1440,"y":480,"wires":[["90e8297d.f2add8","dfa239ab.51d0a8"]]},{"id":"90e8297d.f2add8","type":"function","z":"2f6076bd.bc188a","name":"Reset Rules","func":"// Code added here will be run once\n// whenever the node is deployed.\n/* composition */\nvar rules_list = {\n          start:'',\n          end:'',\n          length:'',\n          rule_pseudo_array: []\n};\n\nglobal.set('rules_list',rules_list)","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1690,"y":480,"wires":[[]]},{"id":"4486b0a4.6e71f","type":"mqtt in","z":"4f0e58ca.763ad8","name":"INPUT MQTT message","topic":"INPUT","qos":"0","datatype":"auto","broker":"f62d48c0.a38a98","x":620,"y":440,"wires":[["11dc0798.7dc728","c8662d6c.8e37f"]]},{"id":"c8662d6c.8e37f","type":"json","z":"4f0e58ca.763ad8","name":"convert MQTT string to object","property":"payload","action":"","pretty":false,"x":910,"y":440,"wires":[["80469bca.3cc858","3b89c858.9b9d28"]]},{"id":"3b89c858.9b9d28","type":"function","z":"4f0e58ca.763ad8","name":"generate output MQTT message","func":"\nvar id=msg.payload.id;\nvar type=msg.payload.type;\nvar event=msg.payload.event;\nvar intensity=msg.payload.intensity;\nintensity=parseInt(intensity);\nvar duration=msg.payload.duration;\nduration=parseInt(duration)\nrules_tab=global.get('rules_list');\n\n\nvar i=0;\nfor (i=0;i<rules_tab.rule_pseudo_array.length;++i){\n\n    if(rules_tab.rule_pseudo_array[i].input_device.normalize()===id.normalize()) {\n        if(rules_tab.rule_pseudo_array[i].input_generator.normalize()==type.normalize()){\n            if(rules_tab.rule_pseudo_array[i].input_state.normalize()==event.normalize()){\n                \n                if(parseInt(rules_tab.rule_pseudo_array[i].input_intensity)<=intensity){\n                    if(parseInt(rules_tab.rule_pseudo_array[i].input_duration)<=duration){\n                        msg.payload=\"{\\\"type\\\":\"+rules_tab.rule_pseudo_array[i].output_action+\",\\\"trigger\\\":\"+rules_tab.rule_pseudo_array[i].output_state+\",\\\"intensity\\\":\"+rules_tab.rule_pseudo_array[i].output_intensity+\",\\\"duration\\\":\"+rules_tab.rule_pseudo_array[i].output_duration+\"}\";\n                        msg.topic=\"OUTPUT/\"+ rules_tab.rule_pseudo_array[i].output_device;\n                        node.send(msg);\n                    \n                    }\n                }\n            }\n                \n        }\n    }\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1410,"y":440,"wires":[["a48d48cf.1a7408","3a442031.3089d"]]},{"id":"a48d48cf.1a7408","type":"mqtt out","z":"4f0e58ca.763ad8","name":"Output MQTT message","topic":"","qos":"0","retain":"","broker":"f62d48c0.a38a98","x":1950,"y":440,"wires":[]},{"id":"cfe9e5e3.c8c9d8","type":"mqtt in","z":"4f0e58ca.763ad8","name":"get avalable devices","topic":"NEW","qos":"0","datatype":"auto","broker":"f62d48c0.a38a98","x":620,"y":360,"wires":[["965b4bb2.a64ac8","a5ed81cc.56302"]]},{"id":"965b4bb2.a64ac8","type":"json","z":"4f0e58ca.763ad8","name":"convert MQTT string to object","property":"payload","action":"","pretty":false,"x":890,"y":360,"wires":[["d72307d6.920238","411728e.c5de4d8"]]},{"id":"d72307d6.920238","type":"function","z":"4f0e58ca.763ad8","name":"push new available device","func":"\nvar id={\"payload\":msg.payload.id.toString()};\nlist_devices=global.get('list_devices');\nlist_devices.push(id);\nglobal.set('list_devices',list_devices);\n\nvar i;\nvar id_tab=[];\nfor(i=0;i<list_devices.length;++i){\n    id_tab.push(list_devices[i].payload);\n}\n\nvar string=\"[\";\nvar j;\nfor(j=0;j<id_tab.length;++j){\n      if (j>0){\n        string=string+\",\";\n  }\n  string=string+\"{\\\"title\\\":\\\"\";\n  string=string+id_tab[j];\n  string=string+\"\\\",\\\"icon_name\\\":\\\"settings_remote\\\"}\";\n}\nstring=string+\"]\";\nmsg.payload=string;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":360,"wires":[["bf39ae49.16494","32ad6b8b.516884"]]},{"id":"f265674d.4f2468","type":"function","z":"4f0e58ca.763ad8","name":"SETUP","func":"","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nvar list_devices=[];\nglobal.set(\"list_devices\",list_devices);\n\n// Code added here will be run once\n// whenever the node is deployed.\n/* composition */\nvar rules_list = {\n          start:'',\n          end:'',\n          length:'',\n          rule_pseudo_array: []\n};\n\nglobal.set('rules_list',rules_list)","finalize":"","x":610,"y":300,"wires":[[]]},{"id":"a5ed81cc.56302","type":"debug","z":"4f0e58ca.763ad8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":300,"wires":[]},{"id":"cbe13601.0749e8","type":"debug","z":"2f6076bd.bc188a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":580,"wires":[]},{"id":"411728e.c5de4d8","type":"debug","z":"4f0e58ca.763ad8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1150,"y":300,"wires":[]},{"id":"cdca5b13.5e07d8","type":"ui_list","z":"4f0e58ca.763ad8","group":"4486bb98.ac2cf4","name":"Available devices","order":2,"width":"4","height":"6","lineType":"two","actionType":"none","allowHTML":false,"outputs":0,"topic":"","x":1590,"y":360,"wires":[]},{"id":"bf39ae49.16494","type":"json","z":"4f0e58ca.763ad8","name":"","property":"payload","action":"","pretty":false,"x":1410,"y":360,"wires":[["cdca5b13.5e07d8"]]},{"id":"32ad6b8b.516884","type":"debug","z":"4f0e58ca.763ad8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1350,"y":280,"wires":[]},{"id":"80469bca.3cc858","type":"debug","z":"4f0e58ca.763ad8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":520,"wires":[]},{"id":"11dc0798.7dc728","type":"debug","z":"4f0e58ca.763ad8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":520,"wires":[]},{"id":"d0a89db3.7598a","type":"ui_text","z":"4f0e58ca.763ad8","group":"4486bb98.ac2cf4","order":1,"width":0,"height":0,"name":"","label":"List of avalable devices: ","format":"{{msg.payload}}","layout":"col-center","x":1610,"y":320,"wires":[]},{"id":"1e3e5f40.b11be1","type":"ui_text","z":"2f6076bd.bc188a","group":"7fadfc74.1b4dc4","order":9,"width":0,"height":0,"name":"duration","label":"duration:","format":"{{msg.payload}}","layout":"row-right","x":390,"y":1100,"wires":[]},{"id":"a01f2b0f.a310a8","type":"ui_text","z":"2f6076bd.bc188a","group":"7fadfc74.1b4dc4","order":6,"width":0,"height":0,"name":"intensity","label":"intensity:","format":"{{msg.payload}}","layout":"row-right","x":420,"y":940,"wires":[]},{"id":"12e0ed03.076173","type":"ui_text","z":"2f6076bd.bc188a","group":"9d464926.d018b8","order":6,"width":0,"height":0,"name":"intensity","label":"intensity:","format":"{{msg.payload}}","layout":"row-right","x":1100,"y":920,"wires":[]},{"id":"c51ed60c.cb03c8","type":"ui_text","z":"2f6076bd.bc188a","group":"9d464926.d018b8","order":9,"width":0,"height":0,"name":"duration","label":"duration:","format":"{{msg.payload}}","layout":"row-right","x":1080,"y":1060,"wires":[]},{"id":"3a442031.3089d","type":"debug","z":"4f0e58ca.763ad8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1670,"y":520,"wires":[]}]